.container
{
    width: 100vw;
    height: 100vh;
    background: black;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.error
{
    width: 250px;
    border: 1px solid var(--alert-color);
    border-radius: 5px;
    color: var(--alert-color);
    font-size: 16px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home
{
    border: 1px solid var(--alert-color);
    color: var(--alert-color);
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

.home:hover
{
    background-color: var(--alert-color);
    color: black;
    cursor: pointer;
}